.idea/*
.ipynb_checkpoints
.csv
data/*
data
*.do
.DS_Store
.Rhistory
*.pyc
SalesforceExports/*
__pycache__/
*ssfLogin.py
*cred.py
notebooks/personal/*
figures/*
modeling_log*/
college_persistence_poster.*
slides/
config.sh